$hover-color: #eee;
$active-color: #00b7ff;

.article-item {
  padding: 20px 10px;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover {
    background: $hover-color;
  }

  &.active {
    color: #fff;
    background: $active-color;
  }
}
